/localMavenLibraries
/.settings
/.project
/flow-core/.project
/flow-core/.settings
/flow-core/target
/flow-core/.classpath
/flow-gui/.project
/flow-gui/.settings
/flow-gui/target
/flow-gui/.classpath
/flow-io/.project
/flow-io/.settings
/flow-io/target
/flow-io/.classpath
/flow-module-creation/.project
/flow-module-creation/.settings
/flow-module-creation/target
/flow-module-creation/.classpath
/flow-module-definitions-basic/.project
/flow-module-definitions-basic/.settings
/flow-module-definitions-basic/target
/flow-module-definitions-basic/.classpath
/flow-repository/.project
/flow-repository/.settings
/flow-repository/target
/flow-repository/.classpath
/flow-workspace/.project
/flow-workspace/.settings
/flow-workspace/target
/flow-workspace/.classpath
/images/resources
/flow-samples/.project
/flow-samples/.settings
/flow-samples/target
/flow-samples/.classpath
